<div class="information">
  <div class="container">
    <div class="infor-top">
      <div class="col-md-3 infor-left">
        <h3>Follow Us</h3>
        <ul>
          <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
          <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
          <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>Information</h3>
        <ul>
          <li><a href="#"><p>Specials</p></a></li>
          <li><a href="#"><p>New products</p></a></li>
          <li><a href="#"><p>Our Stores</p></a></li>
          <li><a href="contact.html"><p>Contact us</p></a></li>
          <li><a href="#"><p>Top Sellers</p></a></li>
        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>My Account</h3>
        <ul>
          <li><a href="account.html"><p>My Account</p></a></li>
          <li><a href="#"><p>My Credit slips</p></a></li>
          <li><a href="#"><p>My Merchandise returns</p></a></li>
          <li><a href="#"><p>My Personal info</p></a></li>
          <li><a href="#"><p>My Addresses</p></a></li>
        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>Store Information</h3>
        <h4>SHOESTORE,
          <span>lorem lorem loerm,</span>
          Lorem Dr 1 Fe 2,</h4>
        <h5>+7 800 555-35-35</h5>
        <p><a href="mailto:shoestore@gmail.com">shoestore@gmail.com</a></p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="col-md-6 footer-left">
        <form>
          <input type="text" value="Enter Your Email"
                 onfocus="this.value = '';"
                 onblur="if (this.value === '') {this.value = 'Enter Your Email';}">
          <input type="submit" value="Subscribe">
        </form>
      </div>
      <div class="col-md-6 footer-right">
        <p>© 2021 SHOESHOP. All Rights Reserved</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Cart</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default-outline" data-dismiss="modal">Continue shopping</button>
        <a href="cart/index" type="button" class="btn btn-primary">Place an order</a>
        <button type="button" class="btn btn-danger" onclick="clearCart(); return false;">Empty the cart</button>
      </div>
    </div>
  </div>
</div>
