<% if notice %>
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none'">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none'">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= alert %>
  </div>
<% end %>
