<!--start-breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><%= link_to render_breadcrumbs, root_path %></li>
        <li><%= @category.title %></li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-9 prdt-left">
        <% if @category.products.empty? %>
          <h3>No products in this category yet</h3>
        <% else %>
          <div class="product-one">
            <% @category.products.each do |product| %>
              <div class="col-md-4 product-left p-left">
                <%= render 'include/product/product', product: product %>
              </div>
            <% end %>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>

      <div class="col-md-3 prdt-right">
        <%= render 'include/shared/sidebar' %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--prdt-ends-->
