<div class="w_sidebar">
  <section class="sky-form">
    <h4>Categories</h4>
    <div class="row1 scroll-pane">
      <div class="col col-4">
        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>All</label>
      </div>
      <div class="col col-4">
        <label class="checkbox"><input type="checkbox"><i></i>Men</label>
        <label class="checkbox"><input type="checkbox"><i></i>Woman</label>
        <label class="checkbox"><input type="checkbox"><i></i>Kids</label>
      </div>
    </div>
  </section>
  <section class="sky-form">
    <h4>Brand</h4>
    <div class="row1 row2 scroll-pane">
      <div class="col col-4">
        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Ecco</label>
      </div>
      <div class="col col-4">
        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Gucci</label>
        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Hugo Boss</label>
        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Lacoste</label>
        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Prada</label>
      </div>
    </div>
  </section>
  <section class="sky-form">
    <h4>Color</h4>
    <ul class=w_nav2>
      <li><a href="#" class="color1"></a></li>
      <li><a href="#" class="color2"></a></li>
      <li><a href="#" class="color3"></a></li>
      <li><a href="#" class="color4"></a></li>
      <li><a href="#" class="color5"></a></li>
      <li><a href="#" class="color6"></a></li>
      <li><a href="#" class="color7"></a></li>
      <li><a href="#" class="color8"></a></li>
      <li><a href="#" class="color9"></a></li>
      <li><a href="#" class="color10"></a></li>
      <li><a href="#" class="color11"></a></li>
      <li><a href="#" class="color12"></a></li>
      <li><a href="#" class="color13"></a></li>
      <li><a href="#" class="color14"></a></li>
      <li><a href="#" class="color15"></a></li>
      <li><a href="#" class="color16"></a></li>
      <li><a href="#" class="color17"></a></li>
      <li><a href="#" class="color18"></a></li>
      <li><a href="#" class="color19"></a></li>
      <li><a href="#" class="color20"></a></li>
      <li><a href="#" class="color21"></a></li>
    </ul>
  </section>
  <section class="sky-form">
    <h4>Discount</h4>
    <div class="row1 row2 scroll-pane">
      <div class="col col-4">
        <label class="radio"><input type="radio" name="radio"><i></i>60 % and above</label>
        <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
        <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
      </div>
      <div class="col col-4">
        <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
        <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
        <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
      </div>
    </div>
  </section>
</div>
