.drop > .btn-group > a {
  color: #fff;
  cursor: pointer;
  position: relative;
  top: -1px;
}

.btn-group {
  color: #fff;
  cursor: pointer;
  position: relative;
  top: -1px;
}
.mini-title {
  text-align: center;
  position:relative;
  color: #0194be;
}
.mini-title:before {
  content: "";
  display:block;
  width: 40%;
  height:2px;
  background: #73B6E1;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -2;
}
.mini-title:after {
  content: "";
  display:block;
  width: 40%;
  height:2px;
  background: #73B6E1;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}
form .has-success .form-control {
  border-color: green;
}
form .has-error .form-control {
  border-color: red;
}
.has-error, .has-success {
  position: relative;
}
.form-control-feedback {
  right: 10px;
  top: 25px;
}

.preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:9999;
  background-color:#fefefe;
  opacity: .7;
  display: none;
}
.preloader img {
  position:relative;
  left:50%;
  top:50vh;
  margin:-100px 0 0 -100px;
}
